<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap 4 Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
    <div class="background">

        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="imagecontainer">
                    <img src="../images/cosmo.jpg" alt="" srcset="">

                </div>
            </div>
            <div class="col-md-6">
                <div class="textholder">
                    <div class="mainbox">
                        <div class="heading">
                            <p> Register </p>
                        </div>
                        <!-- <div class="lgtext">
                            <p>please login in your account</p>
                        </div> -->

                        <div class="smbox">
                            <form action="/signup" method="post">
                                <label for="exampleInputEmail1">name</label>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter name" name="name">
                                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your Account with
                                    anyone
                                    else.</small> -->
                                <label for="exampleInputEmail1">username</label>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter username" name="username">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your Account with
                                    anyone
                                    else.</small>
                                <label for="exampleInputEmail1">password</label>
                                <input type="Password" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter password" name="password">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your password with
                                    anyone
                                    else.</small>

                                <button type="submit" class="btn btn-primary login">Signup</button>
                            </form>

                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>


</body>

</html>